:root {
  --deere-green: hsl(102, 68%, 29%);
  --deere-yellow: hsl(53, 100%, 50%);
}

a {
  color: white;
  font-size: 2rem;
}

a:hover {
  color: var(--deere-yellow);
  font-size: 2rem;
}


.title {
  background-color: var(--deere-green);
  color: white;
}

.banner {
  background-color: var(--deere-yellow);
}

.kid-background {
  background-image: url("https://www.johndeerestore.com/medias/KidsStore-min.png?context=bWFzdGVyfHJvb3R8MjI5MTA1fGltYWdlL3BuZ3xoNmYvaDRlLzkyMTU2Nzk2OTI4MzAucG5nfDhkNGY2YWI3YTE3YWI3ZTE1YzRjYTNjNTllYTZiYmZhZWI4NDhjY2Y5MTkwMDI2ZTEzZmFhZTMzOTIyYzY1MTM");
  color: white;
}

.image {
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
}

.image-text {
  position: absolute;
  top: 250px;
  left: 50px;
  color: white;
  text-shadow: 2px 2px black;
}

.image-sub-text {
  position: absolute;
  top: 350px;
  left: 50px;
  color: var(--deere-yellow);
  text-shadow: 2px 2px black;
  font-size: larger;
}



/* 
.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
} */